<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
<table>
  <h1><%= @user.first_name %>'s reviews</h1>
  <tr>
    <th>Summary</th>
    <th>Description</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>
<br />
    <%# Usar una única llamada para renderizar la lista, no usar la iteración %>
    <% @user.reviews.each do |review|%>
    <%= render review %>
    <br/>
    <% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
