<tr>
  <td><%= review.summary %></td>
  <td><%= review.description %></td>
  <td><%= review.rating %></td>
  <td><%= link_to 'Show', product_path(review) %></td>
  <td><%= link_to 'Edit', edit_product_review_path(@product, review) %></td>
</tr>
