<!DOCTYPE html>
<html>
<head>
  <title>Webshopnew</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
<p class="menu2"><%= "Usuario: email:#{current_user.email} | nombre:#{current_user.first_name}" %></p>
    <% else %>
<p>Haz login <%= link_to 'aquí', new_session_path %></p>
    <% end %>
<header class="menu2">
  <%=render 'layouts/menu' %>
</header>
<div class="body">
<%= yield %>
</div>
</body>
</html>
